<app-navbar></app-navbar>
<head><meta charset="utf-8">
</head>
<div class="container container2 text-start">
    <h1>Actualizar Usuario</h1>
    <div class="container text-end ">
    <a href="#" routerLink="/admini/admin" class="btn btn-dark">Regresar</a>
</div> 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="cardUID">card ID:</label>
            <input 
                formControlName="cardUID"
                id="cardUID"
                type="text"
                class="form-control"
                [readonly]="true"
            >
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
                formControlName="nombre"
                id="nombre"
                type="text"
                class="form-control">
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">El Nombre es obligatorio.</div>
            </div>
        </div>
   
    
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input
                formControlName="apellido"
                id="apellido"
                type="text"
                class="form-control">
            <div *ngIf="f['apellido'].touched && f['apellido'].invalid" class="alert alert-danger">
                <div *ngIf="f['apellido'].errors && f['apellido'].errors['required']">El Apellido es obligatorio.</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>
</div>