<app-navbar></app-navbar>
<head><meta charset="utf-8">
</head>
<div class="container container2 text-start">
    <h1>Actualizar Usuario</h1>
    <div class="container text-end ">
    <a href="#" routerLink="/admini/admin" class="btn btn-dark">Regresar</a>
</div> 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="CardUID">Card ID:</label>
            <input 
                formControlName="CardUID"
                id="CardUID"
                type="text"
                class="form-control"
                [readonly]="true"
            >
        </div>
        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input
                formControlName="Nombre"
                id="Nombre"
                type="text"
                class="form-control">
            <div *ngIf="f['Nombre'].touched && f['Nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['Nombre'].errors && f['Nombre'].errors['required']">El Nombre es obligatorio.</div>
            </div>
        </div>
   
    
        <div class="form-group">
            <label for="Apellido">Apellido:</label>
            <input
                formControlName="Apellido"
                id="Apellido"
                type="text"
                class="form-control">
            <div *ngIf="f['Apellido'].touched && f['Apellido'].invalid" class="alert alert-danger">
                <div *ngIf="f['Apellido'].errors && f['Apellido'].errors['required']">El Apellido es obligatorio.</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>
</div>