<app-navbar></app-navbar>

<div class="container text-start">
  <button type="button" class="btn btn-dark" routerLink="/admini/create">Crear Usuario</button>
</div>
<div class="container">
<table class="table ">
    <thead>
      <tr >
        <th scope="col">id</th>
        <th scope="col">Card ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha Contratacion</th>
        <th scope="col">Opciones</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuario">
        <td>{{usuario.IdUsuario}}</td>
        <td>{{usuario.CardUID}}</td>
        <td>{{usuario.Nombre}}</td>
        <td>{{usuario.Apellido}}</td>
        <td>{{usuario.FechaContratacion}}</td>
        <td> <button type="button" class="btn btn-success" routerLink="/admini/view/{{usuario.$key}}">Ver</button> </td>
        <td>  <button type="button" class="btn btn-secondary" routerLink="/admini/editar/{{usuario.$key}}">Editar</button></td>
        <td>  <button type="button"  class="btn btn-danger" (click)="deleteUsuario(usuario.$key)">Borrar</button> </td>
      </tr>
    </tbody>
  </table>
</div>

