<app-navbar></app-navbar>
<div *ngIf="ctr>0" class="container">
  <h2>Nuevo Usuario</h2>
  <table class="table ">
    <thead>
      <tr >
        <th scope="col">Card ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of newUsuario">
        <td>{{usuario.CardUID}}</td>
        <td>{{usuario.Nombre}}</td>
        <td>{{usuario.Apellido}}</td>
        <td>  <button type="button" class="btn btn-secondary" routerLink="/admini/editar/{{usuario.CardUID}}">Editar</button></td>
        <td>  <button type="button"  class="btn btn-danger" (click)="deleteUsuario(usuario.CardUID)">Borrar</button> </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <h2>Usuarios</h2>
<table class="table ">
    <thead>
      <tr >
        <th scope="col">Card ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuario">
        <td>{{usuario.CardUID}}</td>
        <td>{{usuario.Nombre}}</td>
        <td>{{usuario.Apellido}}</td>
        <td>  <button type="button" class="btn btn-secondary" routerLink="/admini/editar/{{usuario.CardUID}}">Editar</button></td>
        <td>  <button type="button"  class="btn btn-danger" (click)="deleteUsuario(usuario.CardUID)">Borrar</button> </td>
      </tr>
    </tbody>
  </table>
</div>

